<div class="section-11 wf-section">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-9">
          <div class="columns-9 w-row">
            <div class="w-col w-col-6">
              <div>{%- image images.-24b49b59.url, images.-24b49b59.alt, '[{"max":767,"size":"48vw"},{"max":991,"size":"35vw"},{"max":10000,"size":"350px"}]', 'class="image-10"' -%}</div>
            </div>
            <div class="column-16 w-col w-col-6">
              <div>{%- image images.-2ea821e3.url, images.-2ea821e3.alt, '[{"max":767,"size":"48vw"},{"max":991,"size":"35vw"},{"max":10000,"size":"350px"}]', 'class="image-12"' -%}</div>
            </div>
          </div>
        </div>
        <div class="column-22 w-col w-col-3">
          <div class="text-block-21">{{ texts.-18768ac6 }}</div>
          <div class="w-richtext">
            <p></p>
          </div>
          <div class="text-block-22">{{ texts.-4b2effb4 }}</div>
        </div>
      </div>
    </div>
  </div>