<div data-w-id="7037ece3-9939-e17a-9676-32dad00248a9" class="wf-section">
    <div class="w-container">
      <div class="columns-11 w-row">
        <div class="w-col w-col-1 w-col-small-1 w-col-tiny-1">
          <div class="html-embed w-embed">
            
            
              <style>
         #circle {
            width: 80px;
            height: 80px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            background: white;          
         }
      </style>
            
            
              <div id="circle"></div>
            
            
          </div>
          <a href="{{ links.23 }}" class="button-8 w-button">{{ texts.201c }}</a>
        </div>
        <div class="column-7 w-col w-col-11 w-col-small-11 w-col-tiny-11">
          <div class="text-block-20">{{ texts.-38d06777 }}<br><br><span class="text-span-26">{{ texts.-6f5ccd86 }}</span></div>
        </div>
      </div>
    </div>
  </div>