<div class="columns-11 w-row">
        <div class="w-col w-col-3">
          <div class="html-embed w-embed">
            
            
              <style>
         #circle {
            width: 80px;
            height: 80px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            background: white;          
         }
      </style>
            
            
              <div id="circle"></div>
            
            
          </div>
          <a href="{{ links.23 }}" class="button-8 w-button">{{ texts.201c }}</a>
        </div>
        <div class="column-7 w-col w-col-9">
          <div class="text-block-20">{{ texts.-38d06777 }}<br><br><span class="text-span-26">{{ texts.-6b47891b }}</span></div>
        </div>
      </div>